body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #553055;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  background: #4c2a4c;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #eee;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
  background: #6d3d6d;
}

.navbar h1 {
  margin: 10px 0;
}

.book-list {
  padding: 0;
  list-style-type: none;
}

.book-list li {
  background: #6d3d6d;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.book-list li:hover {
  opacity: .7;
  text-decoration: line-through;
}

.book-list .title {
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}

.book-list .author {
  font-size: 0.9em;
  color: #ddd;
}

.empty {
  padding: 20px;
  text-align: center;
}
